= form_for @template, url: { action: 'complete' }, method: :post do |f|
  = f.fields_for :items do |item|
    %p
      = item.label :description, item.object.description
      = item.fields_for :item_category_values do |value|
        %p
          = value.label :category_name, value.object.category.name
          = value.radio_button :value, true
          Yes
          = value.radio_button :value, false
          No
  = f.submit 'Complete'
