= form_for @template, url: { action: 'complete' }, method: :post do |f|
  = f.fields_for :items, @template.items.ordered_asc do |itf|
    - item = itf.object
    %p
      = itf.label :description, item.description
      = itf.fields_for :values, item.values.ordered do |vf|
        - val = vf.object
        %p
          = vf.label nil, val.category.name
          = vf.check_box :value
  = f.submit 'Complete'
