%h1 Listing Templates

%table
  %tr
    %th Name
    %th Description
    %th
    %th
    %th

  - @templates.each do |template|
    %tr
      %td= template.name
      %td= template.description
      %td= link_to 'Show', template
      %td= link_to 'Edit', edit_template_path(template)
      %td= link_to 'Destroy', template, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br= link_to 'Create New Template', new_template_path