%h1 User content here.
- if user_signed_in?
  %p Welcome, #{current_user.email}!
  = link_to 'Log Out', destroy_user_session_path, :method => :delete
- else
  %p Who are you?
  = link_to 'Sign Up', new_user_registration_path
  %br
  = link_to 'Log In', new_user_session_path
  %br
  = link_to 'Log In (Facebook)', user_omniauth_authorize_path(:facebook)
  %br
  = link_to 'Log In (Vkontakte)', user_omniauth_authorize_path(:vkontakte)
